/* Ogólne ustawienia kontenera */
.company-ad-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-bottom: 100px;
}

/* Lewa strona z tekstem */
.company-ad-text {
  flex: 1; /* Zajmuje 1 część z całości */
  padding-right: 50px;
}

.company-ad-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--three-color);
}

.company-ad-text p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--three-color);
}

/* Prawa strona z kwadratami */
.company-ad-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 kolumny */
  grid-gap: 20px;
  flex: 1; /* Zajmuje 1 część z całości */
}

/* Stylizacja dla pojedynczych kwadratów */
.info-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.info-box h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--secondary-color); /* Kolor liczby */
}
h2 sup {
  font-size: 0.7em; /* Zmniejszenie rozmiaru znaku + */
  vertical-align: 0.2em; /* Podniesienie znaku + */
}

.info-box p {
  font-size: 1rem;
  color: var(--three-color);
}

/* Przesunięcie dolnego rzędu kwadratów */
.company-ad-info .info-box:nth-child(2),
.company-ad-info .info-box:nth-child(4) {
  margin-top: 40px; /* Przesunięcie dolnych kwadratów w dół */
}
.company-ad-info .info-box:nth-child(1),
.company-ad-info .info-box:nth-child(3) {
  margin-bottom: 40px; /* Przesunięcie dolnych kwadratów w dół */
}
.p-companyad {
  text-align: left; /* Wyrównanie tekstu do lewej */
  position: relative; /* Ustawienie pozycji względem elementu */
  padding-left: 60px; /* Odstęp tekstu od linii */
  color: var(--three-color);
}
.p-companyad::before {
  content: ""; /* Pusty element do wyświetlenia linii */
  position: absolute;
  top: 50%; /* Ustawienie linii na środku wysokości tekstu */
  left: 0;
  transform: translateY(-50%); /* Wyrównanie linii w pionie do środka */
  width: 50px; /* Długość linii */
  height: 1px; /* Grubość linii */
  background-color: var(--three-color);
}
