.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  flex-wrap: wrap;
}

.contact-left,
.contact-right {
  flex: 1;
  padding: 20px;
  background-color: #f1eae3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-left:hover,
.contact-right:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.contact-left {
  margin-right: 20px;
}
.contact-left .form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-left .form-group {
  flex: 1;
  margin-right: 10px;
  position: relative;
  margin-bottom: 20px;
}
.contact-left .form-group::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--three-color);
  transform: translateY(4px);
  z-index: 1;
}

.contact-left .form-group:last-child {
  margin-right: 0;
}

.contact-left .form-control {
  background-color: #f1eae3;
  color: var(--three-color);
  border: none;
  border-bottom: 1px solid var(--three-color);
  padding: 10px;
  border-radius: 1px;
  margin-bottom: 15px;
}
.contact-left .form-control:hover {
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.contact-left .form-control:hover::placeholder {
  color: var(--secondary-color);
}

.contact-left .form-control:focus::placeholder {
  color: var(--secondary-color);
}
.contact-left .form-control:focus {
  outline: none;
  box-shadow: none;

  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: none;
}

.contact-left .btn {
  margin-top: 20px;
}

.contact-right {
  margin-left: 20px;
}

.contact-left h2,
.contact-right h2 {
  font-size: 2rem;
  color: var(--three-color);
  margin-bottom: 20px;
}

.contact-left p,
.contact-right p {
  font-size: 1rem;
  color: var(--three-color);
}

.contact-left .form-control {
  margin-bottom: 15px;
}

.contact-left .btn {
  margin-top: 20px;
}
.contact-right .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-right .contact-item i {
  margin-right: 10px;
  color: var(--three-color);
  font-size: 1.2rem;
}
.contact-right .contact-item i:hover {
  margin-right: 10px;
  color: var(--secondary-color);
  font-size: 1.2rem;

  cursor: pointer;
}

.contact-right .contact-item span {
  color: var(--text-color);
}
.contact-right .contact-item a {
  text-decoration: none;
  color: var(--three-color);
}

.contact-right .contact-item a:hover {
  color: var(--secondary-color);
}
.p-hours {
  text-align: left;
  position: relative;
  padding-left: 60px;
  color: var(--three-color);
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: bold;
}

.p-hours::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: var(--three-color);
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contact-right {
    margin-left: 0;
  }
}
