:root {
  --primary-color: #f0e5de;
  --secondary-color: #f4a6b0;
  --three-color: #2d3a6f;
}

/* Resetowanie marginesów i wypełnień dla wszystkich elementów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  --bs-navbar-active-color: --secondary-color;
}
.nav-link {
  color: var(--three-color); /* Kolor domyślny linku */
  font-weight: bold;
  text-decoration: none; /* Usunięcie podkreślenia */
}

.nav-link:hover {
  color: var(--secondary-color); /* Kolor linku na hover, focus i active */
  text-decoration: none; /* Usunięcie podkreślenia na hover, focus i active */
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--three-color);
  text-decoration: none;
}
.btn-book {
  background-color: transparent; /* Przezroczyste tło w stanie statycznym */
  color: var(--secondary-color); /* Kolor tekstu ustawiony na granatowy */
  border: 2px solid var(--secondary-color); /* Granatowa obwódka */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px; /* Zaokrąglone krawędzie */
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 10px;
}
.btn-book:hover {
  background-color: var(--three-color); /* Granatowe tło po najechaniu */
  color: var(--primary-color);
  border: 2px solid var(--three-color);
}

/* Stylowanie nagłówka */
.header-container {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}

/* Stylowanie tekstu nagłówka */
.header-text {
  position: relative;
  padding: 0;
  background-color: var(--primary-color);
  text-align: center;
}

.text-content {
  max-width: 800px;
  margin: 0 auto;
  color: var(--three-color);
  position: relative;
}
.social-links {
  position: absolute;
  left: -270px;
  bottom: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
  font-size: 24px;
}

.social-links a {
  margin: -5px;
  color: var(--three-color);
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: var(--secondary-color);
}

.sub-title {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
  color: var(--secondary-color);
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 30px;
}

.slogan {
  font-size: 1rem;
  color: var(--three-color);
  font-style: italic;
}

/* Stylowanie slidera */
.slider-container {
  position: relative;
  width: 100%;
  height: 600px; /* Wysokość slidera */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

/* Upewnij się, że slider-nav jest na sliderze */
.slider-nav {
  position: absolute;
  bottom: 10px; /* Zmniejszamy odstęp od dołu */
  width: 100%;
  display: flex;
  justify-content: center; /* Wyśrodkowujemy przyciski i kropki */
  align-items: center;
  gap: 20px; /* Dodajemy przerwę między przyciskami i kropkami */
  z-index: 10; /* Upewnij się, że slider-nav jest nad sliderem */
}

.prev-btn,
.next-btn {
  color: var(--primary-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--three-color);
}

.dots {
  display: flex;
  gap: 8px; /* Mniejsza przerwa między kropkami */
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--three-color);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--secondary-color);
}
.navbar-right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Stylowanie linku z numerem telefonu */
.phone-link {
  color: var(--three-color);
  font-weight: bold;
  text-decoration: none;
}

.phone-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}
/* Stylowanie Navbar */

/* Stylowanie dla responsywności */
@media (max-width: 991px) {
  .header-text {
    padding: 10px;
  }

  .text-content {
    padding: 0 10px;
  }

  .slider {
    height: 300px;
  }

  .prev-btn,
  .next-btn {
    font-size: 0.9rem;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
  .navbar-right-section {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }

  .phone-link {
    font-size: 0.9rem;
  }

  .btn-book {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
  .slider-container {
    height: 400px; /* Dostosowanie wysokości dla średnich ekranów */
  }
}

@media (max-width: 480px) {
  .sub-title {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .slogan {
    font-size: 0.8rem;
  }

  .slider {
    height: 250px;
  }

  .prev-btn,
  .next-btn {
    font-size: 0.8rem;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin-bottom: 50px;
  }
  .navbar-right-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
  }

  .phone-link {
    font-size: 0.8rem;
  }

  .btn-book {
    font-size: 0.8rem;
    padding: 7px 12px;
  }
  .slider-container {
    height: 300px; /* Dostosowanie wysokości dla małych ekranów */
  }
}
