.header-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Opcjonalne: zatrzymuje tło przy przewijaniu */
    color: #f4a6b0;
    text-align: center;
    position: relative;
  }
  