.kosmetikos-container {
  text-align: center;
  padding: 50px 0;
  background-color: var(--primary-color); /* Tło sekcji */
  margin-bottom: 100px;
}

.kosmetikos-container p {
  text-align: left; /* Wyrównanie tekstu do lewej */
  position: relative; /* Ustawienie pozycji względem elementu */
  padding-left: 60px; /* Odstęp tekstu od linii */
  color: var(--three-color);
  margin-bottom: 30px;
  margin-left: 30px;
}
.kosmetikos-container p::before {
  content: ""; /* Pusty element do wyświetlenia linii */
  position: absolute;
  top: 50%; /* Ustawienie linii na środku wysokości tekstu */
  left: 0;
  transform: translateY(-50%); /* Wyrównanie linii w pionie do środka */
  width: 50px; /* Długość linii */
  height: 1px; /* Grubość linii */
  background-color: var(--three-color);
}

.images-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 100px;
}

.image-box {
  width: 250px;
  height: 350px;
  background-color: var(--primary-color);
  opacity: 0; /* Początkowa przezroczystość */
  transform: translateY(20px); /* Początkowe przesunięcie */
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.image-box.in-view {
  opacity: 1; /* Pełna widoczność */
  transform: translateY(0); /* Powrót do pierwotnej pozycji */
}
/* Styl dla średnich ekranów (tablety) */
@media (max-width: 992px) {
  .images-grid {
    flex-direction: column;
    justify-content: space-between; /* Lepsze rozmieszczenie obrazów na średnich ekranach */
    margin: 0 50px; /* Zmniejszenie marginesu */
  }

  .image-box {
    width: 250px;
    height: 350px; /* Zmniejszenie rozmiaru obrazów na średnich ekranach */
  }
}

/* Styl dla małych ekranów (telefony) */
@media (max-width: 768px) {
  .images-grid {
    flex-direction: column; /* Układ w kolumnach (jedno pod drugim) */
    align-items: center;
    gap: 20px;
    margin: 0 20px; /* Jeszcze mniejsze marginesy na telefonach */
  }

  .image-box {
    width: 100%; /* Obrazy będą rozciągać się na całą szerokość kontenera */
    height: auto; /* Automatyczna wysokość */
  }
}

/* Styl dla bardzo małych ekranów (telefony poniżej 480px) */
@media (max-width: 480px) {
  .kosmetikos-container {
    padding: 20px;
    width: 100%;

    /* Zmniejszenie paddingu na bardzo małych ekranach */
  }

  .images-grid {
    gap: 15px; /* Zmniejszenie odstępów między obrazami */
  }

  .image-box {
    width: 100%; /* Pełna szerokość obrazów */
    height: auto; /* Automatyczna wysokość */
  }

  .kosmetikos-container p {
    margin-left: 15px; /* Mniejsze marginesy dla tekstu */
  }
}
