.kosmetikos-container {
  text-align: center;
  padding: 50px 0;
  background-color: #f7f7f7; /* Tło sekcji */
  margin-bottom: 100px;
}

.kosmetikos-container h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.images-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 100px;
}

.image-box {
  width: 300px;
  height: 400px;
  background-color: #ccc; /* Placeholder koloru tła dla obrazków */
}
