.kosmetikos-container {
  text-align: center;
  padding: 50px 0;
  background-color: var(--primary-color);
  margin-bottom: 100px;
}

.kosmetikos-container p {
  text-align: left;
  position: relative;
  padding-left: 60px;
  color: var(--three-color);
  margin-bottom: 30px;
  margin-left: 30px;
}
.kosmetikos-container p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: var(--three-color);
}

.images-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 100px;
}

.image-box {
  width: 250px;
  height: 350px;
  background-color: var(--primary-color);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.image-box.in-view {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 992px) {
  .images-grid {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px;
  }

  .image-box {
    width: 250px;
    height: 350px;
  }
}

@media (max-width: 768px) {
  .images-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 20px;
  }

  .image-box {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .kosmetikos-container {
    padding: 20px;
    width: 100%;
  }

  .images-grid {
    gap: 15px;
  }

  .image-box {
    width: 100%;
    height: auto;
  }

  .kosmetikos-container p {
    margin-left: 15px;
  }
}
