.language-switcher {
  display: flex;
  gap: 10px;
}

.language-switcher button {
  background-color: var(--three-color);
  border: 1px solid var(--primary-color);
  padding: 3px 8px; /* Zmniejszono padding */
  font-size: 0.7rem; /* Zmniejszono rozmiar czcionki */
  cursor: pointer;
  border-radius: 15px; /* Zmniejszono border-radius */
  color: var(--primary-color);
}

.language-switcher button:hover {
  background-color: var(--secondary-color);
}
