.language-switcher {
  display: flex;
  gap: 10px;
}

.language-switcher button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--three-color);
  color: var(--primary-color);
  text-align: center;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.language-switcher-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.language-switcher button:hover {
  background-color: var(--secondary-color);
}
