.services-container {
  position: relative;

  min-height: 600px; /* Minimalna wysokość, dostosuj w razie potrzeby */
  padding: 0; /* Padding można dostosować, jeśli zajdzie taka potrzeba */

  overflow: hidden;
  margin-bottom: 100px;
}
.services-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/services.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Tło pozostaje w miejscu podczas przewijania */
  height: 100%; /* Wysokość kontenera */
  width: 100%; /* Szerokość kontenera */
  position: absolute; /* Ustawienie tła jako absolutnego, aby wypełniało kontener */
  top: 0;
  left: 0;
  z-index: -1; /* Ustawienie tła pod innymi elementami */
  filter: blur(5px); /* Rozmycie tła */
  opacity: 0.8; /* Opcjonalnie: przezroczystość */
}

.services-content {
  position: relative;
  padding: 20px;

  border-radius: 10px; /* Zaokrąglenie rogów */
  margin-top: 80px; /* Dostosowanie marginesu górnego dla treści */
}

.services-header {
  text-align: center;
  padding: 20px;
}

.services-header h2 {
  font-size: 3rem; /* Rozmiar nagłówka */
  color: var(--secondary-color);
  margin: 0;
  font-weight: bold;

  padding: 10px 20px; /* Odstęp wewnątrz nagłówka */
  display: inline-block; /* Aby tło obejmowało tylko nagłówek */
  border-radius: 8px; /* Zaokrąglenie rogów tła, opcjonalnie */
}

.services-list {
  padding: 20px;
}

.services-list ul {
  list-style-type: none;
  padding: 0;
  color: var(--primary-color);
  font-weight: bold;
}

.services-list ul li {
  margin-bottom: 10px;
  font-size: 1.1rem; /* Rozmiar tekstu dla usług i cen */
  text-align: center; /* Wyśrodkowanie tekstu usług */
}

.text-center {
  text-align: center;
  margin-top: 30px; /* Dodanie marginesu dla przycisku */
}

.modal-content {
  border-radius: 8px; /* Opcjonalnie: zaokrąglenie rogów modalu */
}
.p-services {
  text-align: left; /* Wyrównanie tekstu do lewej */
  position: relative; /* Ustawienie pozycji względem elementu */
  padding-left: 60px; /* Odstęp tekstu od linii */
  color: var(--primary-color);
}

.p-services::before {
  content: ""; /* Pusty element do wyświetlenia linii */
  position: absolute;
  top: 50%; /* Ustawienie linii na środku wysokości tekstu */
  left: 0;
  transform: translateY(-50%); /* Wyrównanie linii w pionie do środka */
  width: 50px; /* Długość linii */
  height: 1px; /* Grubość linii */
  background-color: var(--primary-color);
}
.button {
  background-color: transparent; /* Przezroczyste tło w stanie statycznym */
  color: var(--secondary-color); /* Kolor tekstu ustawiony na granatowy */
  border: 2px solid var(--secondary-color); /* Granatowa obwódka */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50px; /* Zaokrąglone krawędzie */
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
}
.button:hover {
  background-color: var(--three-color); /* Granatowe tło po najechaniu */
  color: var(--primary-color);
  border: 2px solid var(--three-color);
}
