.team-container {
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.h2-team {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.p-team {
  text-align: left;
  position: relative;
  padding-left: 60px;
  color: var(--three-color);
}

.p-team::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 1px;
  background-color: var(--three-color);
}

.team-members {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.team-member:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.team-member img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.team-member h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--three-color);
}

.team-member p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.team-socials a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5rem;
}

.team-socials a:hover {
  color: var(--secondary-color);
}

.p-cosmetology {
  color: var(--secondary-color);
}

@media (max-width: 992px) {
  .team-member {
    width: 45%;
    margin-bottom: 20px;
  }

  .team-members {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .team-member {
    width: 100%;
    margin-bottom: 20px;
  }

  .team-members {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .team-container {
    padding: 20px;
    width: 100%;
  }

  .team-member h2 {
    font-size: 1.3rem;
  }

  .team-member p {
    font-size: 1rem;
  }

  .team-socials a {
    font-size: 1.2rem;
  }
}
