/* Kontener sekcji zespołu */
.team-container {
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;

  border-radius: 10px;
  margin-bottom: 100px;
}

/* Nagłówek sekcji */
.team-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.team-header p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 40px;
}

/* Stylizacja dla zespołu */
.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-member img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.team-member h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #333;
}

.team-member p {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 20px;
}

/* Stylizacja dla ikon social media */
.team-socials a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5rem;
}

.team-socials a:hover {
  color: #ff6347; /* Kolor zmienia się po najechaniu */
}
