/* Kontener sekcji zespołu */
.team-container {
  text-align: center;
  padding: 50px;

  border-radius: 10px;
  margin-bottom: 100px;
}

/* Nagłówek sekcji */
.h2-team {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.p-team {
  text-align: left; /* Wyrównanie tekstu do lewej */
  position: relative; /* Ustawienie pozycji względem elementu */
  padding-left: 60px; /* Odstęp tekstu od linii */
  color: var(--three-color);
}
.p-team::before {
  content: ""; /* Pusty element do wyświetlenia linii */
  position: absolute;
  top: 50%; /* Ustawienie linii na środku wysokości tekstu */
  left: 0;
  transform: translateY(-50%); /* Wyrównanie linii w pionie do środka */
  width: 50px; /* Długość linii */
  height: 1px; /* Grubość linii */
  background-color: var(--three-color);
}
/* Stylizacja dla zespołu */
.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.team-member img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.team-member h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: var(--three-color);
}

.team-member p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

/* Stylizacja dla ikon social media */
.team-socials a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5rem;
}

.team-socials a:hover {
  color: var(--secondary-color); /* Kolor zmienia się po najechaniu */
}
.p-cosmetology {
  color: var(--secondary-color);
}
