body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  background-color: var(--primary-color);
}
:root {
  --primary-color: #f0e5de;
  --secondary-color: #f4a6b0;
  --three-color: #2d3a6f;
}
